<h1>Editing <%= @students.full_name %></h1>

<%= simple_form_for @students, url: "/students/update/#{@students.id}", method: "POST" do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :program %>
  <%= f.input :year_level %>
  <%= f.submit :update %>
<% end %>
