<h1>Students</h1>
<div>
<a href="/students/new">New Student</a>
<form action="/students" method="GET">
	<input name="q" value="<%= @q %>"/>
	<input type="submit" value="SEARCH"/>
</form>


<table borderlined>
  <tr>
	<th>ID</th>
	<th>First Name</th>
	<th>Last Name</th>
	<th>Program</th>
	<th>Year Level</th>
	<th>Actions</th>
  </tr>
  <% @students.each do |c| %>
  <tr>
	<td><%= c.id %></td>
	<td><%= c.first_name %></td>
	<td><%= c.last_name %></td>
	<td><%= c.program %></td>
	<td><%= c.year_level %></td>
	<td>
		<a href="students/<%= c.id %>">Show</a>
		<a href="students/edit/<%= c.id %>">Edit</a>
		<a href="students/delete/<%= c.id %>">Delete</a>
	</td>
  </tr>
<% end %>
</table>
</div>
